<div class="container-main">
    <div class="container-left">
        <div class="table-options">
            <span id="active-p">Currently active trades</span>
            <button class="add-btn" mat-raised-button (click)="openDialog()">Add transaction</button>
        </div>
        <app-table [data] = transactions [tableColumns]="tableColumnsActive" (clicked)="onClickedTransaction($event)"></app-table>
        <app-table [data] = transactionsCompleted [tableColumns]="tableColumnsCompleted" (clicked)="onClickedTransaction($event)"></app-table>

    </div>
    
    <div class="container-right">
        <app-transaction-details [clickedElement] = clickedElement></app-transaction-details>
    </div>
</div>
