<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  
  <div [hidden]="!authenticated()" class="container">
    <h3>{{title}}</h3>  
    <ul class="nav nav-pills">
      <li><a routerLinkActive="active" routerLink="/user">User Info</a></li>
      <li><a routerLinkActive="active" routerLink="/tokens">Tokens</a></li>
      <li><a (click)="logout()" routerLinkActive="active" routerLink="/login">Logout</a></li>
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>
